In [3]:
#importing libraries
import pandas as pd
import numpy as np

In [5]:
# read the data which is separated by ";"
df = pd.read_csv('COVID19_Professional_Work_Impact.csv', encoding = 'ISO-8859-1', delimiter =';')

In [7]:
# controlled the head of the data set
df.head(10)

,SECTOR,JOBROLE,EMPLOYMENTYPE,Gender,##Age Group,Remote Work????,Work Hours Increase (%),Productivity Change (%),##Stress Level (1-10),job satis,##Income Change (%),Tech Tools Use Increase (%),Health Impact (1-10),###Family Work Balance Impact (1-10),Company Support Level (1-10)
0,Other,Staff,Part-Time,Male,55+,Often,-2.93%,36.86%,10.0,-7.5,9.07,25.33,9.0,1.0,4.0
1,Technology,Freelancer,Unemployed,Male,55+,Rrarely,10.45%,-35.24%,10.0,-4.5,-7.28,36.82,6.0,3.0,6.0
2,Retail,maNAger,Unemployed,Female,45-54,Always,-22.29%,18.19%,10.0,-1.5,-13.53,34.61,10.0,-2.0,8.0
3,Other,Executive,Unemployed,Female,18-24,Never,23.15%,14.46%,10.0,-2.5,-3.09,1.00,10.0,1.0,1.0
4,Finance,Executive,Part-Time,Male,18-24,Often,-13.42%,-17.08%,3.0,5.0,13.21,24.92,10.0,3.0,7.0
5,Retail,Intern,Self-Employed,Male,45-54,Never,32.55%,3.56%,1.0,-3.0,-0.69,23.60,4.0,-1.0,8.0
6,Retail,Staff,Part-Time,Other,35-44,Rrarely,5.05%,-13.15%,8.0,-6.5,0.39,NaN,1.0,-4.0,9.0
7,OTHER,Manager,Unemployed,Other,25-34,Rrarely,6.82%,-1.29%,10.0,-0.5,7.23,22.06,1.0,-1.0,8.0
8,Education,Staff,Part-Time,NaN,18-24,always,0.58%,25.18%,10.0,-4.5,-0.27,33.11,10.0,-2.0,7.0
9,Finance,maNAger,Part-Time,Other,25-34,always,5.68%,11.11%,2.0,0.5,-12.81,25.98,5.0,2.0,3.0

In [9]:
#controlled the tail of the data
df.tail(10)

,SECTOR,JOBROLE,EMPLOYMENTYPE,Gender,##Age Group,Remote Work????,Work Hours Increase (%),Productivity Change (%),##Stress Level (1-10),job satis,##Income Change (%),Tech Tools Use Increase (%),Health Impact (1-10),###Family Work Balance Impact (1-10),Company Support Level (1-10)
992,Finance,Freelancer,Self-Employed,Other,45-54,Always,8.02%,23.82%,4.0,-2.5,-15.22,35.34,9.0,-4.0,7.0
993,Other,Staff,Unemployed,Female,35-44,Occasionally,2.14%,50.76%,2.0,4.5,-15.57,25.75,5.0,-4.0,4.0
994,Education,Executive,Unemployed,Other,25-34,Never,-10.38%,NaN,5.0,4.0,5.47,12.95,3.0,-5.0,5.0
995,Technology,Intern,Self-Employed,Other,35-44,Often,-6.20%,13.48%,1.0,7.0,-14.46,42.21,4.0,2.0,9.0
996,Healthcare,Freelancer,Unemployed,Male,35-44,Occasionally,-20.33%,-12.70%,9.0,3.0,-13.21,3.99,6.0,0.0,6.0
997,Manufacturing,Executive,Part-Time,NaN,35-44,Always,8.48%,13.17%,5.0,0.0,0.38,54.30,10.0,0.0,10.0
998,Healthcare,Staff,Part-Time,Male,25-34,Occasionally,1.02%,-32.41%,6.0,4.5,-7.52,39.98,1.0,4.0,4.0
999,Other,NaN,Self-Employed,Male,18-24,Often,-4.50%,-26.26%,2.0,1.5,-8.80,NaN,7.0,4.0,8.0
1000,Technology,Manager,Full-Time,Other,18-24,Occasionally,8.98%,-20.52%,10.0,-4.5,-9.67,28.56,8.0,3.0,9.0
1001,Manufacturing,Freelancer,Part-Time,Male,45-54,Always,15.46%,-3.42%,10.0,-0.5,-28.26,50.83,7.0,-1.0,10.0

In [11]:
# acknowledging NA values
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1002 entries, 0 to 1001
Data columns (total 15 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   SECTOR                                998 non-null    object
 1   JOBROLE                               994 non-null    object
 2   EMPLOYMENTYPE                         985 non-null    object
 3   Gender                                983 non-null    object
 4   ##Age Group                           991 non-null    object
 5   Remote Work????                       985 non-null    object
 6   Work Hours Increase (%)               986 non-null    object
 7   Productivity Change (%)               995 non-null    object
 8   ##Stress Level (1-10)                 995 non-null    float64
 9   job satis                             993 non-null    float64
 10  ##Income Change (%)                   995 non-null    float64
 11  Tech Tools Use Increase (%)           995 non-null    float64
 12  Health Impact (1-10)                  984 non-null    float64
 13  ###Family Work Balance Impact (1-10)  998 non-null    float64
 14  Company Support Level (1-10)          995 non-null    float64
dtypes: float64(7), object(8)
memory usage: 117.6+ KB

In [13]:
# changing the column names
df.columns = [col.lower() for col in df.columns]
df = df.rename(columns={"job satis": "Job satisfaction (-5,5)"})
df = df.rename(columns={"##age group": "age group"})
df = df.rename(columns={"jobrole": "job role"})
df = df.rename(columns={"employmentype": "employment type"})
df = df.rename(columns={"remote work????": "remote work"})
df = df.rename(columns={"##stress level (1-10)": "stress level (1-10)"})
df = df.rename(columns={"##income change (%)": "income change (%)"})
df = df.rename(columns={"###family work balance impact (1-10)": "family work balance impact (-5,5)"})
df

,sector,job role,employment type,gender,age group,remote work,work hours increase (%),productivity change (%),stress level (1-10),"Job satisfaction (-5,5)",income change (%),tech tools use increase (%),health impact (1-10),"family work balance impact (-5,5)",company support level (1-10)
0,Other,Staff,Part-Time,Male,55+,Often,-2.93%,36.86%,10.0,-7.5,9.07,25.33,9.0,1.0,4.0
1,Technology,Freelancer,Unemployed,Male,55+,Rrarely,10.45%,-35.24%,10.0,-4.5,-7.28,36.82,6.0,3.0,6.0
2,Retail,maNAger,Unemployed,Female,45-54,Always,-22.29%,18.19%,10.0,-1.5,-13.53,34.61,10.0,-2.0,8.0
3,Other,Executive,Unemployed,Female,18-24,Never,23.15%,14.46%,10.0,-2.5,-3.09,1.00,10.0,1.0,1.0
4,Finance,Executive,Part-Time,Male,18-24,Often,-13.42%,-17.08%,3.0,5.0,13.21,24.92,10.0,3.0,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
997,Manufacturing,Executive,Part-Time,NaN,35-44,Always,8.48%,13.17%,5.0,0.0,0.38,54.30,10.0,0.0,10.0
998,Healthcare,Staff,Part-Time,Male,25-34,Occasionally,1.02%,-32.41%,6.0,4.5,-7.52,39.98,1.0,4.0,4.0
999,Other,NaN,Self-Employed,Male,18-24,Often,-4.50%,-26.26%,2.0,1.5,-8.80,NaN,7.0,4.0,8.0
1000,Technology,Manager,Full-Time,Other,18-24,Occasionally,8.98%,-20.52%,10.0,-4.5,-9.67,28.56,8.0,3.0,9.0
1001,Manufacturing,Freelancer,Part-Time,Male,45-54,Always,15.46%,-3.42%,10.0,-0.5,-28.26,50.83,7.0,-1.0,10.0

In [15]:
# capitalizing the first letter of the column names for title format
df.columns=[col.capitalize() for col in df.columns]
df

,Sector,Job role,Employment type,Gender,Age group,Remote work,Work hours increase (%),Productivity change (%),Stress level (1-10),"Job satisfaction (-5,5)",Income change (%),Tech tools use increase (%),Health impact (1-10),"Family work balance impact (-5,5)",Company support level (1-10)
0,Other,Staff,Part-Time,Male,55+,Often,-2.93%,36.86%,10.0,-7.5,9.07,25.33,9.0,1.0,4.0
1,Technology,Freelancer,Unemployed,Male,55+,Rrarely,10.45%,-35.24%,10.0,-4.5,-7.28,36.82,6.0,3.0,6.0
2,Retail,maNAger,Unemployed,Female,45-54,Always,-22.29%,18.19%,10.0,-1.5,-13.53,34.61,10.0,-2.0,8.0
3,Other,Executive,Unemployed,Female,18-24,Never,23.15%,14.46%,10.0,-2.5,-3.09,1.00,10.0,1.0,1.0
4,Finance,Executive,Part-Time,Male,18-24,Often,-13.42%,-17.08%,3.0,5.0,13.21,24.92,10.0,3.0,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
997,Manufacturing,Executive,Part-Time,NaN,35-44,Always,8.48%,13.17%,5.0,0.0,0.38,54.30,10.0,0.0,10.0
998,Healthcare,Staff,Part-Time,Male,25-34,Occasionally,1.02%,-32.41%,6.0,4.5,-7.52,39.98,1.0,4.0,4.0
999,Other,NaN,Self-Employed,Male,18-24,Often,-4.50%,-26.26%,2.0,1.5,-8.80,NaN,7.0,4.0,8.0
1000,Technology,Manager,Full-Time,Other,18-24,Occasionally,8.98%,-20.52%,10.0,-4.5,-9.67,28.56,8.0,3.0,9.0
1001,Manufacturing,Freelancer,Part-Time,Male,45-54,Always,15.46%,-3.42%,10.0,-0.5,-28.26,50.83,7.0,-1.0,10.0

In [17]:
# finding how many duplicates we have
duplicates= df.duplicated()
print(duplicates.sum())
duplicated_rows = df[df.duplicated()]
print(duplicated_rows)

2
            Sector    Job role Employment type  Gender Age group Remote work  \
502  Manufacturing  Freelancer   Self-Employed  Female     18-24      Rarely
521          Other  Freelancer   Self-Employed    Male     45-54      Always

    Work hours increase (%) Productivity change (%)  Stress level (1-10)  \
502                   5.10%                   1.33%                  9.0
521                  -5.24%                  11.78%                  6.0

     Job satisfaction (-5,5)  Income change (%)  Tech tools use increase (%)  \
502                     -1.0              -4.82                        17.67
521                      1.5              -8.82                        59.28

     Health impact (1-10)  Family work balance impact (-5,5)  \
502                   7.0                                2.0
521                   5.0                                5.0

     Company support level (1-10)
502                          10.0
521                           7.0

In [19]:
#duplicate check
df[501:503]

,Sector,Job role,Employment type,Gender,Age group,Remote work,Work hours increase (%),Productivity change (%),Stress level (1-10),"Job satisfaction (-5,5)",Income change (%),Tech tools use increase (%),Health impact (1-10),"Family work balance impact (-5,5)",Company support level (1-10)
501,Manufacturing,Freelancer,Self-Employed,Female,18-24,Rarely,5.10%,1.33%,9.0,-1.0,-4.82,17.67,7.0,2.0,10.0
502,Manufacturing,Freelancer,Self-Employed,Female,18-24,Rarely,5.10%,1.33%,9.0,-1.0,-4.82,17.67,7.0,2.0,10.0

In [21]:
#duplicate check
df[520:522]

,Sector,Job role,Employment type,Gender,Age group,Remote work,Work hours increase (%),Productivity change (%),Stress level (1-10),"Job satisfaction (-5,5)",Income change (%),Tech tools use increase (%),Health impact (1-10),"Family work balance impact (-5,5)",Company support level (1-10)
520,Other,Freelancer,Self-Employed,Male,45-54,Always,-5.24%,11.78%,6.0,1.5,-8.82,59.28,5.0,5.0,7.0
521,Other,Freelancer,Self-Employed,Male,45-54,Always,-5.24%,11.78%,6.0,1.5,-8.82,59.28,5.0,5.0,7.0

In [23]:
# dropping the duplicates
df.drop(501,inplace = True)

In [25]:
# dropping one of the duplicates
df.drop(521, inplace = True)

In [27]:
#looking the value counts of strings
df["Sector"].value_counts()

Sector
Healthcare       156
Technology       155
Retail           148
Education        136
Manufacturing    135
Other            131
Finance          128
OTHER              7
Name: count, dtype: int64

In [29]:
#changing data types to string in order to change the format of the values
df["Sector"] = df["Sector"].astype(str)
df["Job role"] = df["Job role"].astype(str)
df["Employment type"] = df["Employment type"].astype(str)
df["Gender"] = df["Gender"].astype(str)
df["Remote work"] = df["Remote work"].astype(str)

In [31]:
#  making all string in the same format (lower-case)
df["Sector"] = df["Sector"].str.lower()
df["Job role"] = df["Job role"].str.lower()
df["Employment type"] = df["Employment type"].str.lower()
df["Gender"] = df["Gender"].str.lower()
df["Remote work"] = df["Remote work"].str.lower()
df

,Sector,Job role,Employment type,Gender,Age group,Remote work,Work hours increase (%),Productivity change (%),Stress level (1-10),"Job satisfaction (-5,5)",Income change (%),Tech tools use increase (%),Health impact (1-10),"Family work balance impact (-5,5)",Company support level (1-10)
0,other,staff,part-time,male,55+,often,-2.93%,36.86%,10.0,-7.5,9.07,25.33,9.0,1.0,4.0
1,technology,freelancer,unemployed,male,55+,rrarely,10.45%,-35.24%,10.0,-4.5,-7.28,36.82,6.0,3.0,6.0
2,retail,manager,unemployed,female,45-54,always,-22.29%,18.19%,10.0,-1.5,-13.53,34.61,10.0,-2.0,8.0
3,other,executive,unemployed,female,18-24,never,23.15%,14.46%,10.0,-2.5,-3.09,1.00,10.0,1.0,1.0
4,finance,executive,part-time,male,18-24,often,-13.42%,-17.08%,3.0,5.0,13.21,24.92,10.0,3.0,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
997,manufacturing,executive,part-time,nan,35-44,always,8.48%,13.17%,5.0,0.0,0.38,54.30,10.0,0.0,10.0
998,healthcare,staff,part-time,male,25-34,occasionally,1.02%,-32.41%,6.0,4.5,-7.52,39.98,1.0,4.0,4.0
999,other,nan,self-employed,male,18-24,often,-4.50%,-26.26%,2.0,1.5,-8.80,NaN,7.0,4.0,8.0
1000,technology,manager,full-time,other,18-24,occasionally,8.98%,-20.52%,10.0,-4.5,-9.67,28.56,8.0,3.0,9.0
1001,manufacturing,freelancer,part-time,male,45-54,always,15.46%,-3.42%,10.0,-0.5,-28.26,50.83,7.0,-1.0,10.0

In [33]:
#looking the value counts of strings
df["Job role"].value_counts()

Job role
executive      199
manager        198
freelancer     197
staff          194
intern         177
free             9
nan              8
staff            8
ýntern,          6
free_lancer      1
 executive       1
 freelancer      1
 intern          1
Name: count, dtype: int64

In [35]:
#making sure everything is alright
df

,Sector,Job role,Employment type,Gender,Age group,Remote work,Work hours increase (%),Productivity change (%),Stress level (1-10),"Job satisfaction (-5,5)",Income change (%),Tech tools use increase (%),Health impact (1-10),"Family work balance impact (-5,5)",Company support level (1-10)
0,other,staff,part-time,male,55+,often,-2.93%,36.86%,10.0,-7.5,9.07,25.33,9.0,1.0,4.0
1,technology,freelancer,unemployed,male,55+,rrarely,10.45%,-35.24%,10.0,-4.5,-7.28,36.82,6.0,3.0,6.0
2,retail,manager,unemployed,female,45-54,always,-22.29%,18.19%,10.0,-1.5,-13.53,34.61,10.0,-2.0,8.0
3,other,executive,unemployed,female,18-24,never,23.15%,14.46%,10.0,-2.5,-3.09,1.00,10.0,1.0,1.0
4,finance,executive,part-time,male,18-24,often,-13.42%,-17.08%,3.0,5.0,13.21,24.92,10.0,3.0,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
997,manufacturing,executive,part-time,nan,35-44,always,8.48%,13.17%,5.0,0.0,0.38,54.30,10.0,0.0,10.0
998,healthcare,staff,part-time,male,25-34,occasionally,1.02%,-32.41%,6.0,4.5,-7.52,39.98,1.0,4.0,4.0
999,other,nan,self-employed,male,18-24,often,-4.50%,-26.26%,2.0,1.5,-8.80,NaN,7.0,4.0,8.0
1000,technology,manager,full-time,other,18-24,occasionally,8.98%,-20.52%,10.0,-4.5,-9.67,28.56,8.0,3.0,9.0
1001,manufacturing,freelancer,part-time,male,45-54,always,15.46%,-3.42%,10.0,-0.5,-28.26,50.83,7.0,-1.0,10.0

In [37]:
# removing the white spaces in the string values
df["Job role"] = df["Job role"].str.strip()
df["Employment type"] = df["Employment type"].str.strip()
df["Remote work"] = df["Remote work"].str.strip()

In [39]:
#looking at the value counts of strings
df["Job role"].value_counts()

Job role
staff          202
executive      200
freelancer     198
manager        198
intern         178
free             9
nan              8
ýntern,          6
free_lancer      1
Name: count, dtype: int64

In [41]:
#making all levels of categories unique
df["Job role"] = df["Job role"].str.replace("\_","", regex=True)
df["Job role"] = df["Job role"].str.replace("\ý","i", regex=True)
df["Job role"] = df["Job role"].str.replace("\,","", regex=True)
df["Job role"] = df["Job role"].str.replace("\ý","i", regex=True)
# we had some issues with freelancer and that was the only thing that worked.
df["Job role"] = df["Job role"].str.replace('freelancerlancer', 'free', regex=False)
df["Job role"] = df["Job role"].str.replace('freelancerlancerlancer', 'freelancer', regex=False)
df["Job role"] = df["Job role"].str.replace('freelancer', 'free', regex=False)
df["Job role"] = df["Job role"].str.replace('free', 'freelancer', regex=False)

In [43]:
# making all levels of categories unique
df["Employment type"] = df["Employment type"].str.replace('parttime', 'part-time', regex=False)
df["Employment type"] = df["Employment type"].str.replace('full-time', 'full', regex=False)
df["Employment type"] = df["Employment type"].str.replace('full', 'full-time', regex=False)

In [45]:
#looking at the value counts of strings
df["Employment type"].value_counts()

Employment type
full-time        257
part-time        255
unemployed       254
self-employed    217
nan               17
Name: count, dtype: int64

In [47]:
#looking at the value counts of strings
df["Job role"].value_counts()

Job role
freelancer    208
staff         202
executive     200
manager       198
intern        184
nan             8
Name: count, dtype: int64

In [49]:
# making all levels of categories unique
df["Gender"] = df["Gender"].str.replace('other', 'o', regex=False)
df["Gender"] = df["Gender"].str.replace('o', 'other', regex=False)
df["Gender"] = df["Gender"].str.replace('pther','other', regex=False)

In [51]:
#looking at the value counts of strings
df["Gender"].value_counts()

Gender
male      338
other     330
female    311
nan        19
other       2
Name: count, dtype: int64

In [53]:
#looking at the value counts of strings
df["Remote work"].value_counts()

Remote work
often           209
always          205
rarely          194
occasionally    192
never           169
nan              17
rrarely           5
n                 5
r                 2
a                 2
Name: count, dtype: int64

In [55]:
# making all levels of categories unique
df["Remote work"] = df["Remote work"].str.replace('always', 'a', regex=False)
df["Remote work"] = df["Remote work"].replace(to_replace ='a ',value ='always', regex=False)
df["Remote work"] = df["Remote work"].str.replace('rrarely', 'rarely', regex=False)
df["Remote work"] = df["Remote work"].str.replace('r\br\b', 'rarely', regex=False)
df["Remote work"] = df["Remote work"].str.replace('always', 'a', regex=False)

In [57]:
#looking at the value counts of strings
df["Remote work"].value_counts()

Remote work
often           209
a               207
rarely          199
occasionally    192
never           169
nan              17
n                 5
r                 2
Name: count, dtype: int64

In [59]:
#looking at the value counts of strings
df["Age group"].value_counts()

Age group
18-24    218
35-44    199
55+      197
25-34    188
45-54    187
Name: count, dtype: int64

In [61]:
#data type control
df.dtypes

Sector                                object
Job role                              object
Employment type                       object
Gender                                object
Age group                             object
Remote work                           object
Work hours increase (%)               object
Productivity change (%)               object
Stress level (1-10)                  float64
Job satisfaction (-5,5)              float64
Income change (%)                    float64
Tech tools use increase (%)          float64
Health impact (1-10)                 float64
Family work balance impact (-5,5)    float64
Company support level (1-10)         float64
dtype: object

In [63]:
# checking uniqueness
df["Sector"].unique()
df["Job role"].unique()
df["Employment type"].unique()
df["Gender"].unique()
df["Remote work"].unique()

array(['often', 'rarely', 'a', 'never', 'occasionally', 'nan', 'n', 'r'],
      dtype=object)

In [65]:
# observing descriptive statistics before
df.describe()

,Stress level (1-10),"Job satisfaction (-5,5)",Income change (%),Tech tools use increase (%),Health impact (1-10),"Family work balance impact (-5,5)",Company support level (1-10)
count,993.000000,991.000000,993.000000,993.000000,982.000000,996.000000,993.000000
mean,5.486405,-0.227043,-4.980916,30.128298,5.399185,-0.147590,5.476334
std,3.018436,3.566173,10.322368,12.407759,2.888961,3.155804,2.835492
min,1.000000,-7.500000,-38.480000,-11.170000,1.000000,-5.000000,1.000000
25%,3.000000,-3.000000,-11.970000,22.060000,3.000000,-3.000000,3.000000
50%,5.000000,0.000000,-5.070000,29.950000,5.000000,0.000000,5.000000
75%,8.000000,2.500000,1.910000,38.720000,8.000000,3.000000,8.000000
max,10.000000,7.000000,27.760000,73.980000,10.000000,5.000000,10.000000

In [67]:
# checking the scale, since it is between 1 and 10 it was convenient to observe it like this
df["Stress level (1-10)"].value_counts()

Stress level (1-10)
1.0     127
10.0    117
9.0     115
4.0     100
3.0      94
6.0      94
2.0      92
5.0      87
7.0      85
8.0      82
Name: count, dtype: int64

In [69]:
#looking at the value counts of strings
df["Job satisfaction (-5,5)"].value_counts()

Job satisfaction (-5,5)
 2.5    57
 2.0    54
-2.0    53
 1.5    51
-4.5    47
-1.0    47
-3.0    44
-0.5    43
 0.0    42
 1.0    42
 3.0    41
 0.5    37
-3.5    37
 3.5    35
 4.0    32
-5.0    32
-4.0    32
-1.5    32
-2.5    31
-5.5    28
 4.5    27
-6.5    26
 5.0    25
-6.0    22
 6.0    21
 5.5    16
 7.0    15
 6.5     9
-7.0     7
-7.5     6
Name: count, dtype: int64

In [71]:
# filling missing values with the mean
job_mean = df['Job satisfaction (-5,5)'].mean().round(1)
df.loc[df["Job satisfaction (-5,5)"].isin([5,5.5, 6, 6.5, 7]), "Job satisfaction (-5,5))"] = job_mean
df.loc[df["Job satisfaction (-5,5)"].isin([-5.5, -6, -6.5, -7,-7.5]), "Job satisfaction (-5,5)"] = job_mean
df["Job satisfaction (-5,5)"].value_counts()

Job satisfaction (-5,5)
-0.2    89
 2.5    57
 2.0    54
-2.0    53
 1.5    51
-4.5    47
-1.0    47
-3.0    44
-0.5    43
 0.0    42
 1.0    42
 3.0    41
-3.5    37
 0.5    37
 3.5    35
-5.0    32
 4.0    32
-1.5    32
-4.0    32
-2.5    31
 4.5    27
 5.0    25
 6.0    21
 5.5    16
 7.0    15
 6.5     9
Name: count, dtype: int64

In [73]:
#looking at the value counts
df["Health impact (1-10)"].value_counts()

Health impact (1-10)
10.0    110
2.0     108
4.0     105
3.0     104
5.0     103
7.0     100
1.0      97
6.0      90
8.0      83
9.0      82
Name: count, dtype: int64

In [75]:
#looking at the value counts
df["Family work balance impact (-5,5)"].value_counts()

Family work balance impact (-5,5)
-5.0    106
 1.0    100
-1.0     97
-2.0     92
 4.0     91
-4.0     90
 2.0     89
-3.0     86
 3.0     85
 0.0     83
 5.0     77
Name: count, dtype: int64

In [77]:
#looking at the value counts
df["Job satisfaction (-5,5)"].value_counts()

Job satisfaction (-5,5)
-0.2    89
 2.5    57
 2.0    54
-2.0    53
 1.5    51
-4.5    47
-1.0    47
-3.0    44
-0.5    43
 0.0    42
 1.0    42
 3.0    41
-3.5    37
 0.5    37
 3.5    35
-5.0    32
 4.0    32
-1.5    32
-4.0    32
-2.5    31
 4.5    27
 5.0    25
 6.0    21
 5.5    16
 7.0    15
 6.5     9
Name: count, dtype: int64

In [79]:
#making all levels of the categories unique
mapping = {
    'a': 'always',
    'n': 'never',
    'r': 'rarely',
    'rrarely': 'rarely'
}

# Replace values in the column
df['Remote work'] = df['Remote work'].replace(mapping)

# Check the updated value counts
print(df['Remote work'].value_counts())

Remote work
often           209
always          207
rarely          201
occasionally    192
never           174
nan              17
Name: count, dtype: int64

In [81]:
#making sure everything is alright 
df

,Sector,Job role,Employment type,Gender,Age group,Remote work,Work hours increase (%),Productivity change (%),Stress level (1-10),"Job satisfaction (-5,5)",Income change (%),Tech tools use increase (%),Health impact (1-10),"Family work balance impact (-5,5)",Company support level (1-10),"Job satisfaction (-5,5))"
0,other,staff,part-time,male,55+,often,-2.93%,36.86%,10.0,-0.2,9.07,25.33,9.0,1.0,4.0,NaN
1,technology,freelancer,unemployed,male,55+,rarely,10.45%,-35.24%,10.0,-4.5,-7.28,36.82,6.0,3.0,6.0,NaN
2,retail,manager,unemployed,female,45-54,always,-22.29%,18.19%,10.0,-1.5,-13.53,34.61,10.0,-2.0,8.0,NaN
3,other,executive,unemployed,female,18-24,never,23.15%,14.46%,10.0,-2.5,-3.09,1.00,10.0,1.0,1.0,NaN
4,finance,executive,part-time,male,18-24,often,-13.42%,-17.08%,3.0,5.0,13.21,24.92,10.0,3.0,7.0,-0.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
997,manufacturing,executive,part-time,nan,35-44,always,8.48%,13.17%,5.0,0.0,0.38,54.30,10.0,0.0,10.0,NaN
998,healthcare,staff,part-time,male,25-34,occasionally,1.02%,-32.41%,6.0,4.5,-7.52,39.98,1.0,4.0,4.0,NaN
999,other,nan,self-employed,male,18-24,often,-4.50%,-26.26%,2.0,1.5,-8.80,NaN,7.0,4.0,8.0,NaN
1000,technology,manager,full-time,other,18-24,occasionally,8.98%,-20.52%,10.0,-4.5,-9.67,28.56,8.0,3.0,9.0,NaN
1001,manufacturing,freelancer,part-time,male,45-54,always,15.46%,-3.42%,10.0,-0.5,-28.26,50.83,7.0,-1.0,10.0,NaN

In [83]:
#existence of na values are checked the percentages are checked according to the criteria
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1000 entries, 0 to 1001
Data columns (total 16 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Sector                             1000 non-null   object
 1   Job role                           1000 non-null   object
 2   Employment type                    1000 non-null   object
 3   Gender                             1000 non-null   object
 4   Age group                          989 non-null    object
 5   Remote work                        1000 non-null   object
 6   Work hours increase (%)            984 non-null    object
 7   Productivity change (%)            993 non-null    object
 8   Stress level (1-10)                993 non-null    float64
 9   Job satisfaction (-5,5)            991 non-null    float64
 10  Income change (%)                  993 non-null    float64
 11  Tech tools use increase (%)        993 non-null    float64
 12  Health impact (1-10)               982 non-null    float64
 13  Family work balance impact (-5,5)  996 non-null    float64
 14  Company support level (1-10)       993 non-null    float64
 15  Job satisfaction (-5,5))           86 non-null     float64
dtypes: float64(8), object(8)
memory usage: 132.8+ KB

In [84]:
#missing value check
df.isnull().sum()

Sector                                 0
Job role                               0
Employment type                        0
Gender                                 0
Age group                             11
Remote work                            0
Work hours increase (%)               16
Productivity change (%)                7
Stress level (1-10)                    7
Job satisfaction (-5,5)                9
Income change (%)                      7
Tech tools use increase (%)            7
Health impact (1-10)                  18
Family work balance impact (-5,5)      4
Company support level (1-10)           7
Job satisfaction (-5,5))             914
dtype: int64

In [87]:
# filling missing values with mode and checking if it worked
agemode_value=df['Age group'].mode()[0]
df['Age group']=df['Age group'].fillna(agemode_value)
print(df['Age group'].tail(50))

952     45-54
953     35-44
954     18-24
955       55+
956     35-44
957     35-44
958     25-34
959     18-24
960       55+
961     35-44
962     35-44
963       55+
964     18-24
965     25-34
966     35-44
967     25-34
968     18-24
969     18-24
970     45-54
971     45-54
972     45-54
973     18-24
974     18-24
975       55+
976     25-34
977     25-34
978       55+
979       55+
980     45-54
981       55+
982     35-44
983     25-34
984       55+
985     35-44
986     35-44
987     35-44
988     35-44
989     45-54
990     35-44
991     45-54
992     45-54
993     35-44
994     25-34
995     35-44
996     35-44
997     35-44
998     25-34
999     18-24
1000    18-24
1001    45-54
Name: Age group, dtype: object

In [88]:
# examining data types and making sure that numeric values are float, categorical ones are object
df.dtypes

Sector                                object
Job role                              object
Employment type                       object
Gender                                object
Age group                             object
Remote work                           object
Work hours increase (%)               object
Productivity change (%)               object
Stress level (1-10)                  float64
Job satisfaction (-5,5)              float64
Income change (%)                    float64
Tech tools use increase (%)          float64
Health impact (1-10)                 float64
Family work balance impact (-5,5)    float64
Company support level (1-10)         float64
Job satisfaction (-5,5))             float64
dtype: object

In [91]:
# making all levels of categories unique
#we got rid of the % characters to change the values to integers from strings
df["Work hours increase (%)"] = df["Work hours increase (%)"].str.strip()
df["Productivity change (%"] = df["Productivity change (%)"].str.strip()
df['Work hours increase (%)'] = df['Work hours increase (%)'].str.replace('%' , '',regex=True)
df['Productivity change (%)'] = df['Productivity change (%)'].str.replace('%' , '',regex=True)
df

,Sector,Job role,Employment type,Gender,Age group,Remote work,Work hours increase (%),Productivity change (%),Stress level (1-10),"Job satisfaction (-5,5)",Income change (%),Tech tools use increase (%),Health impact (1-10),"Family work balance impact (-5,5)",Company support level (1-10),"Job satisfaction (-5,5))",Productivity change (%
0,other,staff,part-time,male,55+,often,-2.93,36.86,10.0,-0.2,9.07,25.33,9.0,1.0,4.0,NaN,36.86%
1,technology,freelancer,unemployed,male,55+,rarely,10.45,-35.24,10.0,-4.5,-7.28,36.82,6.0,3.0,6.0,NaN,-35.24%
2,retail,manager,unemployed,female,45-54,always,-22.29,18.19,10.0,-1.5,-13.53,34.61,10.0,-2.0,8.0,NaN,18.19%
3,other,executive,unemployed,female,18-24,never,23.15,14.46,10.0,-2.5,-3.09,1.00,10.0,1.0,1.0,NaN,14.46%
4,finance,executive,part-time,male,18-24,often,-13.42,-17.08,3.0,5.0,13.21,24.92,10.0,3.0,7.0,-0.2,-17.08%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
997,manufacturing,executive,part-time,nan,35-44,always,8.48,13.17,5.0,0.0,0.38,54.30,10.0,0.0,10.0,NaN,13.17%
998,healthcare,staff,part-time,male,25-34,occasionally,1.02,-32.41,6.0,4.5,-7.52,39.98,1.0,4.0,4.0,NaN,-32.41%
999,other,nan,self-employed,male,18-24,often,-4.50,-26.26,2.0,1.5,-8.80,NaN,7.0,4.0,8.0,NaN,-26.26%
1000,technology,manager,full-time,other,18-24,occasionally,8.98,-20.52,10.0,-4.5,-9.67,28.56,8.0,3.0,9.0,NaN,-20.52%
1001,manufacturing,freelancer,part-time,male,45-54,always,15.46,-3.42,10.0,-0.5,-28.26,50.83,7.0,-1.0,10.0,NaN,-3.42%

In [92]:
#we changed the data type and checked it
df['Work hours increase (%)'] = df['Work hours increase (%)'].astype(float)
df['Productivity change (%)'] = df['Productivity change (%)'].astype(float)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1000 entries, 0 to 1001
Data columns (total 17 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Sector                             1000 non-null   object
 1   Job role                           1000 non-null   object
 2   Employment type                    1000 non-null   object
 3   Gender                             1000 non-null   object
 4   Age group                          1000 non-null   object
 5   Remote work                        1000 non-null   object
 6   Work hours increase (%)            984 non-null    float64
 7   Productivity change (%)            993 non-null    float64
 8   Stress level (1-10)                993 non-null    float64
 9   Job satisfaction (-5,5)            991 non-null    float64
 10  Income change (%)                  993 non-null    float64
 11  Tech tools use increase (%)        993 non-null    float64
 12  Health impact (1-10)               982 non-null    float64
 13  Family work balance impact (-5,5)  996 non-null    float64
 14  Company support level (1-10)       993 non-null    float64
 15  Job satisfaction (-5,5))           86 non-null     float64
 16  Productivity change (%             993 non-null    object
dtypes: float64(10), object(7)
memory usage: 140.6+ KB

In [95]:
# filling missing values with the mean and checking if it worked
workmean_value = df['Work hours increase (%)'].mean().round(2)
df['Work hours increase (%)'] = df['Work hours increase (%)'].fillna(workmean_value)
print(df['Work hours increase (%)'].head(80))

0     -2.93
1     10.45
2    -22.29
3     23.15
4    -13.42
      ...
75     7.52
76    11.18
77   -21.93
78    16.87
79    -4.70
Name: Work hours increase (%), Length: 80, dtype: float64

In [96]:
# filling missing values with the mean and checking if it worked
promean_value = df['Productivity change (%)'].mean().round(2)
df['Productivity change (%)'] = df['Productivity change (%)'].fillna(promean_value)
print(df['Productivity change (%)'].head(25))

0     36.86
1    -35.24
2     18.19
3     14.46
4    -17.08
5      3.56
6    -13.15
7     -1.29
8     25.18
9     11.11
10     9.67
11   -12.61
12   -33.18
13    -7.67
14    22.13
15   -35.04
16   -24.10
17     1.53
18   -20.19
19   -16.35
20   -12.97
21   -29.31
22   -21.98
23    -3.00
24   -28.15
Name: Productivity change (%), dtype: float64

In [98]:
# filling missing values with the mean and checking if it worked
stressmean_value = df['Stress level (1-10)'].mean().round(1)
df['Stress level (1-10)'] = df['Stress level (1-10)'].fillna(stressmean_value)
print(df['Stress level (1-10)'].iloc[390:395])

390     5.5
391     5.5
392    10.0
393     2.0
394     7.0
Name: Stress level (1-10), dtype: float64

In [100]:
# filling missing values with the mean and checking if it worked
jobmean_value = df['Job satisfaction (-5,5)'].mean().round(1)
df['Job satisfaction (-5,5)'] = df['Job satisfaction (-5,5)'].fillna(jobmean_value)
print(df['Job satisfaction (-5,5)'].head(23))

0    -0.2
1    -4.5
2    -1.5
3    -2.5
4     5.0
5    -3.0
6    -0.2
7    -0.5
8    -4.5
9     0.5
10    3.0
11    0.5
12    3.0
13    0.0
14   -3.5
15   -4.0
16    3.5
17   -3.5
18    6.0
19    0.3
20   -5.0
21   -2.5
22    4.0
Name: Job satisfaction (-5,5), dtype: float64

In [103]:
# filling missing values with the mean and checking if it worked
ıncomemean_value = df['Income change (%)'].mean().round(2)
df['Income change (%)'] = df['Income change (%)'].fillna(ıncomemean_value)
print(df['Income change (%)'].head(75))

0      9.07
1     -7.28
2    -13.53
3     -3.09
4     13.21
      ...
70    -4.98
71    -3.78
72    11.63
73    -7.41
74     7.18
Name: Income change (%), Length: 75, dtype: float64

In [104]:
# filling missing values with the mean and checking if it worked
techmean_value = df['Tech tools use increase (%)'].mean().round(2)
df['Tech tools use increase (%)'] = df['Tech tools use increase (%)'].fillna(techmean_value)
print(df['Tech tools use increase (%)'].head(10))

0    25.33
1    36.82
2    34.61
3     1.00
4    24.92
5    23.60
6    30.13
7    22.06
8    33.11
9    25.98
Name: Tech tools use increase (%), dtype: float64

In [107]:
# filling missing values with the mean and checking if it worked
ımpmean_value = df['Health impact (1-10)'].mean().round(1)
df['Health impact (1-10)'] = df['Health impact (1-10)'].fillna(ımpmean_value)
print(df['Health impact (1-10)'].head(68))

0      9.0
1      6.0
2     10.0
3     10.0
4     10.0
      ...
63     5.0
64     6.0
65    10.0
66     7.0
67     7.0
Name: Health impact (1-10), Length: 68, dtype: float64

In [109]:
# filling missing values with the mean and checking if it worked
fammean_value = df['Family work balance impact (-5,5)'].mean().round(1)
df['Family work balance impact (-5,5)'] = df['Family work balance impact (-5,5)'].fillna(fammean_value)
print(df['Family work balance impact (-5,5)'].iloc[415:425])

415    2.0
416    5.0
417   -0.1
418   -0.1
419   -0.1
420   -0.1
421   -1.0
422    4.0
423   -2.0
424   -3.0
Name: Family work balance impact (-5,5), dtype: float64

In [110]:
# filling missing values with the mean and checking if it worked
compmean_value = df['Company support level (1-10)'].mean().round(1)
df['Company support level (1-10)'] = df['Company support level (1-10)'].fillna(compmean_value)
print(df['Company support level (1-10)'].iloc[415:425])

415    8.0
416    5.5
417    5.5
418    5.5
419    5.5
420    5.5
421    6.0
422    4.0
423    3.0
424    8.0
Name: Company support level (1-10), dtype: float64

In [113]:
# making sure everything is alright
df

,Sector,Job role,Employment type,Gender,Age group,Remote work,Work hours increase (%),Productivity change (%),Stress level (1-10),"Job satisfaction (-5,5)",Income change (%),Tech tools use increase (%),Health impact (1-10),"Family work balance impact (-5,5)",Company support level (1-10),"Job satisfaction (-5,5))",Productivity change (%
0,other,staff,part-time,male,55+,often,-2.93,36.86,10.0,-0.2,9.07,25.33,9.0,1.0,4.0,NaN,36.86%
1,technology,freelancer,unemployed,male,55+,rarely,10.45,-35.24,10.0,-4.5,-7.28,36.82,6.0,3.0,6.0,NaN,-35.24%
2,retail,manager,unemployed,female,45-54,always,-22.29,18.19,10.0,-1.5,-13.53,34.61,10.0,-2.0,8.0,NaN,18.19%
3,other,executive,unemployed,female,18-24,never,23.15,14.46,10.0,-2.5,-3.09,1.00,10.0,1.0,1.0,NaN,14.46%
4,finance,executive,part-time,male,18-24,often,-13.42,-17.08,3.0,5.0,13.21,24.92,10.0,3.0,7.0,-0.2,-17.08%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
997,manufacturing,executive,part-time,nan,35-44,always,8.48,13.17,5.0,0.0,0.38,54.30,10.0,0.0,10.0,NaN,13.17%
998,healthcare,staff,part-time,male,25-34,occasionally,1.02,-32.41,6.0,4.5,-7.52,39.98,1.0,4.0,4.0,NaN,-32.41%
999,other,nan,self-employed,male,18-24,often,-4.50,-26.26,2.0,1.5,-8.80,30.13,7.0,4.0,8.0,NaN,-26.26%
1000,technology,manager,full-time,other,18-24,occasionally,8.98,-20.52,10.0,-4.5,-9.67,28.56,8.0,3.0,9.0,NaN,-20.52%
1001,manufacturing,freelancer,part-time,male,45-54,always,15.46,-3.42,10.0,-0.5,-28.26,50.83,7.0,-1.0,10.0,NaN,-3.42%

In [114]:
#looking at the value counts
df["Job role"].value_counts()

Job role
freelancer    208
staff         202
executive     200
manager       198
intern        184
nan             8
Name: count, dtype: int64

In [117]:
# filling missing values with the mode and checking if it worked
modeSec=df['Sector'].mode()[0]
mapping1 = {
    
    'nan': modeSec
}
# making all levels of categories unique
df['Sector']=df['Sector'].replace(mapping1)
df['Sector'] = df['Sector'].str.replace('fihealthcarece' , 'finance',regex=True)
#looking at the value counts
print(df['Sector'].value_counts())
df

Sector
healthcare       160
technology       155
retail           148
other            138
education        136
manufacturing    135
finance          128
Name: count, dtype: int64

,Sector,Job role,Employment type,Gender,Age group,Remote work,Work hours increase (%),Productivity change (%),Stress level (1-10),"Job satisfaction (-5,5)",Income change (%),Tech tools use increase (%),Health impact (1-10),"Family work balance impact (-5,5)",Company support level (1-10),"Job satisfaction (-5,5))",Productivity change (%
0,other,staff,part-time,male,55+,often,-2.93,36.86,10.0,-0.2,9.07,25.33,9.0,1.0,4.0,NaN,36.86%
1,technology,freelancer,unemployed,male,55+,rarely,10.45,-35.24,10.0,-4.5,-7.28,36.82,6.0,3.0,6.0,NaN,-35.24%
2,retail,manager,unemployed,female,45-54,always,-22.29,18.19,10.0,-1.5,-13.53,34.61,10.0,-2.0,8.0,NaN,18.19%
3,other,executive,unemployed,female,18-24,never,23.15,14.46,10.0,-2.5,-3.09,1.00,10.0,1.0,1.0,NaN,14.46%
4,finance,executive,part-time,male,18-24,often,-13.42,-17.08,3.0,5.0,13.21,24.92,10.0,3.0,7.0,-0.2,-17.08%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
997,manufacturing,executive,part-time,nan,35-44,always,8.48,13.17,5.0,0.0,0.38,54.30,10.0,0.0,10.0,NaN,13.17%
998,healthcare,staff,part-time,male,25-34,occasionally,1.02,-32.41,6.0,4.5,-7.52,39.98,1.0,4.0,4.0,NaN,-32.41%
999,other,nan,self-employed,male,18-24,often,-4.50,-26.26,2.0,1.5,-8.80,30.13,7.0,4.0,8.0,NaN,-26.26%
1000,technology,manager,full-time,other,18-24,occasionally,8.98,-20.52,10.0,-4.5,-9.67,28.56,8.0,3.0,9.0,NaN,-20.52%
1001,manufacturing,freelancer,part-time,male,45-54,always,15.46,-3.42,10.0,-0.5,-28.26,50.83,7.0,-1.0,10.0,NaN,-3.42%

In [118]:
#looking at the value counts
df["Sector"].value_counts()

Sector
healthcare       160
technology       155
retail           148
other            138
education        136
manufacturing    135
finance          128
Name: count, dtype: int64

In [121]:
#looking at the value counts
df["Employment type"].value_counts()

Employment type
full-time        257
part-time        255
unemployed       254
self-employed    217
nan               17
Name: count, dtype: int64

In [123]:
# filling missing values with the mode and checking if it worked
modeEmp=df['Employment type'].mode()[0]
# making all levels of categories unique
df['Employment type'] = df['Employment type'].str.replace('nan' , modeEmp,regex=True)
print(df["Employment type"].head(40))

0         part-time
1        unemployed
2        unemployed
3        unemployed
4         part-time
5     self-employed
6         part-time
7        unemployed
8         part-time
9         part-time
10        part-time
11    self-employed
12        full-time
13        full-time
14        part-time
15        full-time
16        full-time
17        part-time
18        part-time
19       unemployed
20        full-time
21    self-employed
22        part-time
23       unemployed
24    self-employed
25        full-time
26       unemployed
27        part-time
28    self-employed
29        part-time
30        full-time
31    self-employed
32        full-time
33        full-time
34       unemployed
35        part-time
36    self-employed
37        full-time
38        full-time
39    self-employed
Name: Employment type, dtype: object

In [124]:
#looking at the value counts
df["Gender"].value_counts()

Gender
male      338
other     330
female    311
nan        19
other       2
Name: count, dtype: int64

In [126]:
# filling missing values with the mode and checking if it worked
modeGen=df['Gender'].mode()[0]
df['Gender'] = df['Gender'].str.replace('nan' , modeGen,regex=True)
print(df["Gender"].head(10))

0      male
1      male
2    female
3    female
4      male
5      male
6     other
7     other
8      male
9     other
Name: Gender, dtype: object

In [129]:
#looking at the value counts
df["Remote work"].value_counts()

Remote work
often           209
always          207
rarely          201
occasionally    192
never           174
nan              17
Name: count, dtype: int64

In [131]:
# filling missing values with the mode and checking if it worked
modeRem=df['Remote work'].mode()[0]
df['Remote work'] = df['Remote work'].str.replace('nan' , modeRem,regex=True)
print(df["Remote work"].head(28))

0            often
1           rarely
2           always
3            never
4            often
5            never
6           rarely
7           rarely
8           always
9           always
10          rarely
11           often
12           never
13    occasionally
14          always
15    occasionally
16           often
17          always
18    occasionally
19           often
20           never
21           often
22          always
23          rarely
24           never
25           often
26          always
27          rarely
Name: Remote work, dtype: object

In [133]:
# acknowledging NA values
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1000 entries, 0 to 1001
Data columns (total 17 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Sector                             1000 non-null   object
 1   Job role                           1000 non-null   object
 2   Employment type                    1000 non-null   object
 3   Gender                             1000 non-null   object
 4   Age group                          1000 non-null   object
 5   Remote work                        1000 non-null   object
 6   Work hours increase (%)            1000 non-null   float64
 7   Productivity change (%)            1000 non-null   float64
 8   Stress level (1-10)                1000 non-null   float64
 9   Job satisfaction (-5,5)            1000 non-null   float64
 10  Income change (%)                  1000 non-null   float64
 11  Tech tools use increase (%)        1000 non-null   float64
 12  Health impact (1-10)               1000 non-null   float64
 13  Family work balance impact (-5,5)  1000 non-null   float64
 14  Company support level (1-10)       1000 non-null   float64
 15  Job satisfaction (-5,5))           86 non-null     float64
 16  Productivity change (%             993 non-null    object
dtypes: float64(10), object(7)
memory usage: 140.6+ KB

In [134]:
#missing value check
df.isnull().sum()

Sector                                 0
Job role                               0
Employment type                        0
Gender                                 0
Age group                              0
Remote work                            0
Work hours increase (%)                0
Productivity change (%)                0
Stress level (1-10)                    0
Job satisfaction (-5,5)                0
Income change (%)                      0
Tech tools use increase (%)            0
Health impact (1-10)                   0
Family work balance impact (-5,5)      0
Company support level (1-10)           0
Job satisfaction (-5,5))             914
Productivity change (%                 7
dtype: int64

In [137]:
# acknowledging NA values
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1000 entries, 0 to 1001
Data columns (total 17 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Sector                             1000 non-null   object
 1   Job role                           1000 non-null   object
 2   Employment type                    1000 non-null   object
 3   Gender                             1000 non-null   object
 4   Age group                          1000 non-null   object
 5   Remote work                        1000 non-null   object
 6   Work hours increase (%)            1000 non-null   float64
 7   Productivity change (%)            1000 non-null   float64
 8   Stress level (1-10)                1000 non-null   float64
 9   Job satisfaction (-5,5)            1000 non-null   float64
 10  Income change (%)                  1000 non-null   float64
 11  Tech tools use increase (%)        1000 non-null   float64
 12  Health impact (1-10)               1000 non-null   float64
 13  Family work balance impact (-5,5)  1000 non-null   float64
 14  Company support level (1-10)       1000 non-null   float64
 15  Job satisfaction (-5,5))           86 non-null     float64
 16  Productivity change (%             993 non-null    object
dtypes: float64(10), object(7)
memory usage: 140.6+ KB

In [138]:
#making sure everything is alright
df

,Sector,Job role,Employment type,Gender,Age group,Remote work,Work hours increase (%),Productivity change (%),Stress level (1-10),"Job satisfaction (-5,5)",Income change (%),Tech tools use increase (%),Health impact (1-10),"Family work balance impact (-5,5)",Company support level (1-10),"Job satisfaction (-5,5))",Productivity change (%
0,other,staff,part-time,male,55+,often,-2.93,36.86,10.0,-0.2,9.07,25.33,9.0,1.0,4.0,NaN,36.86%
1,technology,freelancer,unemployed,male,55+,rarely,10.45,-35.24,10.0,-4.5,-7.28,36.82,6.0,3.0,6.0,NaN,-35.24%
2,retail,manager,unemployed,female,45-54,always,-22.29,18.19,10.0,-1.5,-13.53,34.61,10.0,-2.0,8.0,NaN,18.19%
3,other,executive,unemployed,female,18-24,never,23.15,14.46,10.0,-2.5,-3.09,1.00,10.0,1.0,1.0,NaN,14.46%
4,finance,executive,part-time,male,18-24,often,-13.42,-17.08,3.0,5.0,13.21,24.92,10.0,3.0,7.0,-0.2,-17.08%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
997,manufacturing,executive,part-time,male,35-44,always,8.48,13.17,5.0,0.0,0.38,54.30,10.0,0.0,10.0,NaN,13.17%
998,healthcare,staff,part-time,male,25-34,occasionally,1.02,-32.41,6.0,4.5,-7.52,39.98,1.0,4.0,4.0,NaN,-32.41%
999,other,nan,self-employed,male,18-24,often,-4.50,-26.26,2.0,1.5,-8.80,30.13,7.0,4.0,8.0,NaN,-26.26%
1000,technology,manager,full-time,other,18-24,occasionally,8.98,-20.52,10.0,-4.5,-9.67,28.56,8.0,3.0,9.0,NaN,-20.52%
1001,manufacturing,freelancer,part-time,male,45-54,always,15.46,-3.42,10.0,-0.5,-28.26,50.83,7.0,-1.0,10.0,NaN,-3.42%

In [140]:
#looking at the value counts
df["Job role"].value_counts()

Job role
freelancer    208
staff         202
executive     200
manager       198
intern        184
nan             8
Name: count, dtype: int64

In [143]:
# changing the column names
df=df.rename(columns={"Family work balance impact (1-10)":"Family work balance impact (-5,5)"})
df

,Sector,Job role,Employment type,Gender,Age group,Remote work,Work hours increase (%),Productivity change (%),Stress level (1-10),"Job satisfaction (-5,5)",Income change (%),Tech tools use increase (%),Health impact (1-10),"Family work balance impact (-5,5)",Company support level (1-10),"Job satisfaction (-5,5))",Productivity change (%
0,other,staff,part-time,male,55+,often,-2.93,36.86,10.0,-0.2,9.07,25.33,9.0,1.0,4.0,NaN,36.86%
1,technology,freelancer,unemployed,male,55+,rarely,10.45,-35.24,10.0,-4.5,-7.28,36.82,6.0,3.0,6.0,NaN,-35.24%
2,retail,manager,unemployed,female,45-54,always,-22.29,18.19,10.0,-1.5,-13.53,34.61,10.0,-2.0,8.0,NaN,18.19%
3,other,executive,unemployed,female,18-24,never,23.15,14.46,10.0,-2.5,-3.09,1.00,10.0,1.0,1.0,NaN,14.46%
4,finance,executive,part-time,male,18-24,often,-13.42,-17.08,3.0,5.0,13.21,24.92,10.0,3.0,7.0,-0.2,-17.08%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
997,manufacturing,executive,part-time,male,35-44,always,8.48,13.17,5.0,0.0,0.38,54.30,10.0,0.0,10.0,NaN,13.17%
998,healthcare,staff,part-time,male,25-34,occasionally,1.02,-32.41,6.0,4.5,-7.52,39.98,1.0,4.0,4.0,NaN,-32.41%
999,other,nan,self-employed,male,18-24,often,-4.50,-26.26,2.0,1.5,-8.80,30.13,7.0,4.0,8.0,NaN,-26.26%
1000,technology,manager,full-time,other,18-24,occasionally,8.98,-20.52,10.0,-4.5,-9.67,28.56,8.0,3.0,9.0,NaN,-20.52%
1001,manufacturing,freelancer,part-time,male,45-54,always,15.46,-3.42,10.0,-0.5,-28.26,50.83,7.0,-1.0,10.0,NaN,-3.42%

In [145]:
#importing clean data to excel
df.to_excel(r'C:\Users\adate\Masaüstü\COVID1.xlsx', index=False)

In [146]:
# filling missing values with the mode and checking if it worked
mod_deger = df['Job role'].mode()[0]
df.loc[df['Job role'].astype(str).str.lower() == 'nan', 'Job role'] = mod_deger
df.to_csv('COVID1.csv', index=False)

In [147]:
#looking at the value counts
df["Gender"] =df["Gender"].str.replace("other ", "other",regex=False)

In [148]:
# making sure everything worked fine
df

,Sector,Job role,Employment type,Gender,Age group,Remote work,Work hours increase (%),Productivity change (%),Stress level (1-10),"Job satisfaction (-5,5)",Income change (%),Tech tools use increase (%),Health impact (1-10),"Family work balance impact (-5,5)",Company support level (1-10),"Job satisfaction (-5,5))",Productivity change (%
0,other,staff,part-time,male,55+,often,-2.93,36.86,10.0,-0.2,9.07,25.33,9.0,1.0,4.0,NaN,36.86%
1,technology,freelancer,unemployed,male,55+,rarely,10.45,-35.24,10.0,-4.5,-7.28,36.82,6.0,3.0,6.0,NaN,-35.24%
2,retail,manager,unemployed,female,45-54,always,-22.29,18.19,10.0,-1.5,-13.53,34.61,10.0,-2.0,8.0,NaN,18.19%
3,other,executive,unemployed,female,18-24,never,23.15,14.46,10.0,-2.5,-3.09,1.00,10.0,1.0,1.0,NaN,14.46%
4,finance,executive,part-time,male,18-24,often,-13.42,-17.08,3.0,5.0,13.21,24.92,10.0,3.0,7.0,-0.2,-17.08%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
997,manufacturing,executive,part-time,male,35-44,always,8.48,13.17,5.0,0.0,0.38,54.30,10.0,0.0,10.0,NaN,13.17%
998,healthcare,staff,part-time,male,25-34,occasionally,1.02,-32.41,6.0,4.5,-7.52,39.98,1.0,4.0,4.0,NaN,-32.41%
999,other,freelancer,self-employed,male,18-24,often,-4.50,-26.26,2.0,1.5,-8.80,30.13,7.0,4.0,8.0,NaN,-26.26%
1000,technology,manager,full-time,other,18-24,occasionally,8.98,-20.52,10.0,-4.5,-9.67,28.56,8.0,3.0,9.0,NaN,-20.52%
1001,manufacturing,freelancer,part-time,male,45-54,always,15.46,-3.42,10.0,-0.5,-28.26,50.83,7.0,-1.0,10.0,NaN,-3.42%